<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
  <div id="app">
    <ul>
      <div v-if="show">
        <li v-for="(show, index) in tvshows" v-bind:key="index">
          {{ show.name }} ({{ show.seasons }} temporadas)
        </li>
      </div>
      <div v-else>
        No data
      </div>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        //show: false,
        show: true,
        tvshows: [
          { name: 'Serie 1', seasons: 3 },
          { name: 'Serie 2', seasons: 5 },
          { name: 'Serie 3', seasons: 2 },
        ]
      }
    })
  </script>
</body>
</html>